# Dependencies
node_modules

# Production
dist

# Local files
*.local

# Backups
backups

# Directus
directus/**
!directus/.gitkeep

# Services
.vscode

# Others
logs
*.log
.cache
temp

# IDEs and editors
.idea
.project
.classpath
*.launch
.settings

# System files
.DS_Store
Thumbs.db
*.pem
